.footer {
  $marginTop: 15px;
  padding: 40px 0;
  background-color: white;
  border-top: 2px solid #eee;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  color: hsl(357, 12%, 42%);

  .guide {
    display: flex;
    justify-content: center;
    .guide__item {
      margin: 0 10px;
      a {
        font-weight: 700;
        text-decoration: none;
        color: hsl(357, 12%, 42%);
      }
    }
  }
  small {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    .copyright {
      color: hsl(357, 8%, 60%);
      font-size: 1.2rem;
    }
    div {
      margin-top: $marginTop;
    }
  }
}