header {
  // background-color: lightgreen;
  width: 480px;
  height: 60px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  .title {
    font-size: 2rem;
    .title__a {
      text-decoration: none;
      color: $defaultColor;
      font-weight: 700;
    }
  }
  .setting {
    background: none rgba(255, 255, 255, 0.2);
    opacity: 0.9;
    color: $defaultColor;
    cursor: pointer;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 1.3rem;
  }
}

.progress-bar {
  width: 480px;
  margin: 0 auto 40px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.bar {
  width: 1%;
  height: 5px;
  background-color: #fff;
  border-radius: 5px;
}