// 레이아웃
.todos {
  width: 480px;
  margin: 0 auto;
  margin-top: 15px;
  $pb: 20px;
  $mb: 20px;
  font: {
    size: 1.8rem;
  };
  .todos__brief {
    display: none;
    text-align: center;
    padding-bottom: $pb;
    margin-bottom: $mb;
    &.is-active {
      display: block;
    }
  };

  .todos__working-on {
    display: none;
    text-align: center;
    padding-bottom: $pb;
    margin-bottom: $mb;
    &.is-active {
      display: block;
    }
    .current-todo {
      margin-top: 10px;
    }
  }

  .todolist {
    .todolist__header-wrap {
      padding-bottom: 15px;
      border-bottom: 1px solid $defaultColor;
      overflow: hidden;
      margin-bottom: $mb;

      h2 {
        font-weight: bold;
        display: inline;
      };
      .todolist__setting {
        width: 30px;
        height: 30px;
        float: right;
        color: $defaultColor;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 5px;
      };
    };
  };

  .todolist__setting-modal {
    display: none;
  };

  .list__item {
    position: relative;
    color: #555;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 5px;
      height: 100%;
      border-radius: 5px 0 0 5px;
      background-color: rgba(0, 0, 0, 0);
    }
    &:hover::before {
      background-color: rgba(0, 0, 0, 0.2);
    }
    &.is-active::before {
      background-color: rgba(0, 0, 0, 1);
    }
    .list__repeat {
      position: absolute;
      left: 370px;
      top: 20px;
      font-weight: bold;
      color: rgb(204, 204, 204);
    };
    .list__btn {
      position: absolute;
      left: 430px;
      top: 13px;
      width: 35px;
      height: 35px;
      background-color: #fff;
      border-radius: 5px;
      border: 1px solid rgb(223, 223, 223);
      color: rgb(141, 141, 141);
    };
    .list__btn:hover {
      background-color: rgb(223, 223, 223);
    }
    .list__note {
      display: none;
    }
    .list__note.is-active {
      display: block;
      background-color: rgb(252, 248, 222);
      margin-top: 20px;
      padding: 10px;
      height: 44px;
      font-size: 1.2rem;
      box-sizing: border-box;
      border-radius: 5px;
      border-bottom: 1px solid #eee;
    }
  }

  .checked {
    text-decoration: line-through;
  }

  .todolist__add-btn {
    display: none;
  }

  .todolist__add-btn.is-active {
    margin-top: 15px;
    display: block;
    font-size: 1.5rem;
    width: 100%;
    color: $defaultColor;
    background: rgba(0, 0, 0, 0.1);
    border: 2px dashed rgba(255, 255, 255, 0.4);
    padding: $pb;
    border-radius: 8px;
    opacity: 0.8;
    font-weight: bold;

    i {
      margin-right: 5px;
    }

    &:hover {
      background: rgba(0, 0, 0, 0.2);
    }
  }

  .todolist__add-todo {
    display: none;
  }
}
.summary {
  display: none;
}
.summary.is-active {
  display: block;
  width: 480px;
  margin: 30px auto;
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
  box-sizing: border-box;
  padding: 20px 70px;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
  }

  li {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.6rem;
  }

  li span:last-child {
    font-size: 2.4rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
  }
}

